:root {
    --tools-color-gold: rgba(255, 165, 55, 0.55);
    --tools-color: rgba(255, 255, 255, 0.78);
    --logo-color: rgba(255, 255, 255, 0.90);
    --nav-color: rgba(255, 255, 255, 0.55);
    --register-color: #FDF5FF;
    --accent-color: #FF6E30;
    --border-form-color: rgba(255, 255, 255, 0.10);
    --form-color: #283036;
    --white-color: #FFF;
    --background-color: #1E252B;
    --tools-color-gray: rgba(40, 48, 54, 0.60);
    --bcg-tools-color: #283036;
    --brand-bcg-color: rgba(44, 53, 61, 0.20);
    --brand-color: rgba(255, 255, 255, 0.80);
    --gold: #FFA537;
}

body {
    background-color: var(--background-color);
    font-family: "Poppins", sans-serif;
}

.container {
    width: 1249px;
    padding: 0 15px; 
    margin: 0 auto; 
}

/*
font-family: "Roboto", sans-serif;
font-family: "Poppins", sans-serif;
font-family: "Lora", serif;
*/


.header {
    padding: 26px 0px 58px 0px;
}

.header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px; 
}

.header-logo-link {
    display: flex;
    align-items: center;
    color: var(--logo-color);
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    gap: 12px;
}

.header-logo-link:hover, .header-logo-link:focus {
    outline: none;
}

.header-items {
    display: flex;
    gap: 41px;
}

.header-link {
    color: var(--nav-color);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    transition: 250ms color;
}

.header-link:hover, .header-link:focus {
    color:  var(--accent-color);
    outline: none;
}

.header-register-items {
    display: flex;
    gap: 41px; 
}

.header-register-login {
    color: var(--nav-color);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    border: none;
    transition: 250ms color;
}

.header-register-login:hover, .header-register-login:focus {
    color:  var(--accent-color);
    outline: none;
}

.header-register-signup {
    color: var(--register-color);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    padding: 12px 28px;
    border-radius: 8px;
    background: var(--accent-color);
    transition-property: color, background-color;
    transition-duration: 250ms, 250ms;
}

.header-register-signup:hover, .header-register-signup:focus {
    outline: 1px solid var(--border-form-color);
    background-color: transparent;
    border: none;
    color:  var(--accent-color);
}

.hero {
    padding: 46px 0px 11px 0px;
}

.hero > .container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.hero-title {
    width: 600px;
    color: var(--logo-color);
    font-size: 50px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 30px;
}

.hero-title-span {
    color: var(--accent-color);
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.hero-text {
    color: var(--nav-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 487px;
    margin-bottom: 60px;
}

.hero-form {
    position: relative;
    margin-bottom: 122px;
}

.hero-input { 
    border-radius: 15px;
    border: 1.5px solid var(--border-form-color);
    background: var(--form-color); 
    padding-left: 55.18px;
    width: 497.659px;
    height: 64px;
    transition-property: outline, opacity;
    transition-duration: 250ms,;
}

.hero-input:hover, .hero-input:focus {
    outline: none;
}

.hero-img {
    position: absolute;
    top: 20px;
    left: 18.06px;
}

.hero-btn {
    padding: 12px 36.12px;
    position: absolute;
    top: 8px;
    left: 356.19px;
    border-radius: 8px;
    background: var(--accent-color);
    border: none;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    transition-property: color, background-color;
    transition-duration: 250ms, 250ms;
}

.hero-btn:hover, .hero-btn:focus {
    cursor: pointer;
    outline: 1px solid var(--border-form-color);
    background-color: transparent;
    border: none;
    color:  var(--accent-color);
}

.hero-items {
    display: flex;
    gap: 30px;
}

.hero-link:hover, .hero-link:focus {
    outline: none;
    .hero-link-svg{
        fill: var(--accent-color);
    }
}

.hero-link-svg {
    width: 36px;
    height: 36px;
    fill: var(--logo-color);
    transition-property: fill;
    transition-duration: 250ms;
}

.hero-bcg-img {
    position: absolute;
    top: -46px;
    right: -105px;
    width: 589px;
}

.p-tools {
    padding: 200px 0px 200px 0px;
}

.p-tools > .container {
    position: relative;
}

.p-tools-title {
    color: var(--logo-color);
    font-size: 48px;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 25px;
    text-align: center;
}

.p-tools-text {
    text-align: center;
    margin: 0 auto;
    width: 427px;
    color: var(--nav-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 110px;
}

.p-tools-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 100px;
    margin-bottom: 100px;
}

.p-tools-item {
    flex-basis: calc((100% - 40px) / 3);
    padding: 34px 33px 33px 33px;
    border-radius: 15px;
    background: transparent;
    transition-property: transform;
    transition-duration: 250ms;
}

.p-tools-item:hover, .p-tools-item:focus{
    transform: translate(0px, -20px);
    border-radius: 15px;
    border: none;
    background-color: var(--tools-color-gray);
    background: radial-gradient(
        ellipse farthest-corner at 81% 0%,
        #ff6e3027 1%,
        rgba(40, 48, 54, 0.60) 50%,
        rgba(40, 48, 54, 0.60)
      );
    .p-tools-item-subtitle{
        color: var(--gold);
    }
}

.p-tools-titles-box {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 31px;
}

.p-tools-img {
    width: 64px;
    height: 64px;
}

.p-tools-items > .p-tools-item:nth-child(2) > .p-tools-titles-box > .p-tools-img {
    height: 56.95px; 
}

.p-tools-titles-box > div {
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: start;
}

.p-tools-item-title {
    color: var(--tools-color);
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.p-tools-item-subtitle {
    color: var(--tools-color-gold);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    transition-property: color;
    transition-duration: 250ms;
}

.p-tools-item-text {
    text-align: start;
    width: 326px;
    color: var(--nav-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.p-tools-btns-box {
    display: flex;
    justify-content: space-between;
}

.p-tools-item-items {
    display: flex;
    gap: 12px;
}

.p-tools-item-item-btn {
    padding: 7px;
    border-radius: 8px;
    background: transparent;
    border: none;
    transition-property: background-color;
    transition-duration: 250ms;
}

.p-tools-item-items > .p-tools-item-items-item:nth-child(2) > .p-tools-item-item-btn {
    padding: 7px 6px 5px 6px;
}

.p-tools-item-item-btn:hover, .p-tools-item-item-btn:focus {
    cursor: pointer;
    outline: none;
    background-color: var(--bcg-tools-color);
    box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
    .p-tools-like-img:hover{
        fill: #FD3B41;
    }
    .p-tools-file-img:hover{
        fill: black;
    }
}

.p-tools-like-img {
    width: 28px;
    height: 28px;
    fill: var(--nav-color);
    transition: fill 250ms;
}

.p-tools-file-img {
    width: 30px;
    height: 30px;
    fill: var(--nav-color);
    transition: fill 250ms;
}

.p-tools-item-btn {
    color: var(--nav-color);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    padding: 9px 35px;
    transition-property: background-color;
    transition-duration: 250ms;
}

.p-tools-item-btn:hover, .p-tools-item-btn:focus {
    cursor: pointer;
    outline: none;
    background-color: var(--accent-color);
    color: var(--white-color);
}

.p-tools-btn {
    display: block;
    margin: 0 auto;
    padding: 17px 38px;
    color: var(--accent-color);
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    border-radius: 8px;
    border: 1px solid var(--border-form-color);
    background: transparent;
    transition-property: background-color, border, color;
    transition-duration: 250ms;
}

.p-tools-btn:hover, .p-tools-btn:focus {
    cursor: pointer;
    outline: none;
    border: 1px solid var(--border-form-color);
    background-color: var(--accent-color);
    color: var(--white-color);
}

.brand {
    padding-bottom: 220px;
}

.brand > .container {
    text-align: center;
}

.brand-box {
    padding: 55px 83px 56px 82px;
    border-radius: 25px;
    background: var(--brand-bcg-color);
    backdrop-filter: blur(25px);
}

.brand-title {
    color: var(--brand-color);
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 55px; 
}

.brand-items {
    display: flex;
    align-items: center;
    gap: 107px;
}

.brand-link:hover, .brand-link:focus {
    outline: none;
}

.tools {
    padding: 0px 0px 0px ;
}

.tools > .container {
    display: flex;
    justify-content: space-between;
}

.tools-box {
    display: flex;
    text-align: start;
    width: 427px;
    flex-direction: column;
}

.tools-title {
    margin-bottom: 30px;
    color: var(--logo-color);
    font-size: 48px;
    font-weight: 500;
    line-height: 130%;
}

.tools-text {
    color: var(--nav-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 60px;
}

.tools-btn {
    padding: 16px 40px 15px 40px;
    border-radius: 8px;
    background: var(--accent-color);
    border: none;
    color: var(--register-color);
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    transition-property: color, background-color;
    transition-duration: 250ms, 250ms;
}

.tools-btn:hover, .tools-btn:focus {
    cursor: pointer;
    outline: none;
    outline: 1px solid var(--border-form-color);
    background-color: transparent;
    border: none;
    color:  var(--accent-color);
}

.tools-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 50px;
    width: 600px;
}

.tools-item {
    flex-basis: calc((100% - 40px) / 2);
    padding: 28px 21px 28px 22px;
    border-radius: 15px;
    background: transparent;
    transition-property: transform;
    transition-duration: 250ms;
}

.tools-item:hover, .tools-item:focus  {
    transform: translate(0px, -20px);
    border-radius: 15px;
    border: none;
    background-color: var(--tools-color-gray);
    background: radial-gradient(
        ellipse farthest-corner at 81% 0%,
        #ff6e3027 1%,
        rgba(40, 48, 54, 0.60) 50%,
        rgba(40, 48, 54, 0.60)
      );
    .tools-item-subtitle{
        color: var(--gold);
    }
}

.tools-titles-box {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 31px;
}

.tools-img {
    width: 64px;
    height: 64px;
}

.tools-items > .tools-item:nth-child(2) > .tools-titles-box > .tools-img {
    height: 56.95px; 
}

.tools-titles-box > div {
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: start;
}

.tools-item-title {
    color: var(--tools-color);
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.tools-item-subtitle {
    color: var(--tools-color-gold);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    transition-property: color;
    transition-duration: 250ms;
}

.tools-item-text {
    text-align: start;
    width: 245px;
    color: var(--nav-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.tools-btns-box {
    display: flex;
    justify-content: space-between;
}

.tools-item-items {
    display: flex;
    gap: 12px;
}

.tools-item-item-btn {
    padding: 7px;
    border-radius: 8px;
    background: transparent;
    border: none;
    transition: background-color 250ms;
}

.tools-item-items > .p-tools-item-items-item:nth-child(2) > .p-tools-item-item-btn {
    padding: 7px 6px 5px 6px;
}

.tools-item-item-btn:hover, .tools-item-item-btn:focus {
    cursor: pointer;
    outline: none;
    background-color: var(--bcg-tools-color);
    box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
    .p-tools-like-img:hover{
        fill: #FD3B41;
    }
    .p-tools-file-img:hover{
        fill: black;
    }
}

.tools-like-img {
    width: 28px;
    height: 28px;
    fill: var(--nav-color);
    transition: fill 250ms;
}

.tools-file-img {
    width: 30px;
    height: 30px;
    fill: var(--nav-color);
    transition: fill 250ms;
}

.tools-item-btn {
    color: var(--nav-color);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    padding: 9px 35px;
    transition: background-color 250ms;
}

.tools-item-btn:hover, .tools-item-btn:focus {
    cursor: pointer;
    outline: none;
    background-color: var(--accent-color);
    color: var(--white-color);
}

.workers {
    padding-top: 328px;
    padding-bottom: 358px;
}

.workers > .container {
    display: flex;
    justify-content: center;
    position: relative;
}

.workers-items {
    display: flex;
    position: relative;
}

.workers-item {
    display: flex;
    align-items: center;
    gap: 67px;
    position: relative;
}

.workers-wrraper {
    position: relative;
} 

.workers-box {
    position: absolute;
    top: 368px;
    left: 125px;
    border-radius: 8px;
    border: 1px solid var(--border-form-color);
    background: var(--brand-bcg-color);
    backdrop-filter: blur(25px);
    background: radial-gradient(
        circle farthest-corner at 100% 200%,
        rgba(0, 102, 255, 0.267) 6%,
        rgba(40, 48, 54, 0.60) 50%,
        rgba(40, 48, 54, 0.60)
      );
      padding: 10px 22px 16px 23px;
}

.workers-name {
    color: var(--tools-color);
    font-size: 26px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.39px;
    margin-bottom: 2px;
}

.workers-work {
    color: var(--nav-color);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.workers-text {
    width: 400px;
    color: var(--tools-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.21px;
}

.untitled {
    position: absolute;
    left: 390px;
    top: 50px;
    transform: rotate(19.166deg);
    font-family: Lora;
    font-size: 250px; 
    font-weight: 500;
    line-height: normal;
    background: linear-gradient(189deg, rgba(252, 252, 252, 0.00) 20.34%, rgba(255, 255, 255, 0.50) 155.72%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.workers-img-left {
    position: absolute;
    top: 240px;
    left: 15px;
    stroke: white;
    stroke-opacity: 0.28;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition-property: stroke, stroke-opacity;
    transition-duration: 250ms;
}

.workers-img-left:hover, .workers-img-left:focus {
    cursor: pointer;
    stroke: var(--accent-color);
    stroke-opacity: 1;
}

.workers-img-right {
    position: absolute;
    top: 240px;
    right: 15px;
    stroke: white;
    stroke-opacity: 0.28;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition-property: stroke, stroke-opacity;
    transition-duration: 250ms;
}

.workers-img-right:hover, .workers-img-right:focus {
    cursor: pointer;
    stroke: var(--accent-color);
    stroke-opacity: 1;
}

.workers-pages-items {
    display: flex;
    gap: 18px;
    position: absolute;
    bottom: -100px;
}

.contributor {
    padding-bottom: 240px;
}

.contributor > .container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contributor-title {
    color: var(--logo-color);
    font-size: 48px;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 25px;
}

.contributor-text {
    color: var(--nav-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    width: 427px;
    margin: 0 auto 100px;
}

.contributor-form {
    position: relative;
}

.contributor-input {
    width: 549px;
    border-radius: 15px;
    border: 1.5px solid var(--border-form-color);
    background: #283036;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 24.18px;
}

.contributor-input:hover, .contributor-input:focus {
    outline: none;
}

.contributor-btn {
    position: absolute;
    top: 8px;
    left: 744.19px;
    border-radius: 8px;
    background: var(--accent-color);
    border: none;
    padding: 12px 36.43px 12px 35.81px;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    transition-property: color, background-color;
    transition-duration: 250ms, 250ms;
}

.contributor-btn:hover, .contributor-btn:focus {
    cursor: pointer;
    outline: 1px solid var(--border-form-color);
    background-color: transparent;
    border: none;
    color:  var(--accent-color);
}

.footer {
    padding: 70px 0px 98px 0px;
}

.footer > .container {
    display: flex;
    justify-content: space-between;
}

.footer-box {
    display: flex;
    flex-direction: column;
}

.footer-logo-link {
    display: flex;
    align-items: center;
    color: var(--logo-color);
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    gap: 12px;
    height: 38px;
}

.footer-logo-link:focus {
    outline: none;
}

.footer-logo-img {
    width: 38px;
}

.footer-copyright {
    margin-top: 25px;
    margin-bottom: 21px;
    color: var(--logo-color);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.footer-logo-text {
    color: var(--nav-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    width: 260px; 
}

.footer-items {
    display: flex;
    gap: 115px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-item-title {
    color: var(--logo-color);
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}

.footer-item-link {
    color: var(--nav-color);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    transition-property: color;
    transition-duration: 250ms;
}

.footer-item-link:hover, .footer-item-link:focus {
    outline: none;
    color: var(--accent-color);
}